@media (max-width:720px){
    html {
	overflow-x: hidden;
	overflow-y: hidden;
}
body{
	background: white;
	
}


h1{
	font-family: 'Yomogi', cursive;
	font-size: 90px;
	margin-top:7px;
	position: fixed;
	left: 20px;
	
	
}
.popit{
	    position: fixed;
	width: 300px;
	height: 300px;
	left: 4px;
	top: 200px;
	
}
p{
	width: 310px;
	height:200px;
	position: fixed;
	left: 20px;
	top: 500px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	
}
.source{
	position: fixed;
	left:20px;
	top: 1150px;
	
}
.button1{
	position: relative;
    width: 40px;
    height: 40px;

	border-radius: 50%;
    left:-21.5px;
    top: 182px;
    box-sizing: border-box;
    border: 1px;
	background-color:red;
	margin-right:1.4px;
}
.button2{
    width: 40px;
    height: 40px;
	border-radius: 50%;
	position: relative;
    left:-385px;
    top: 227.5px;
	background-color:#ff7300;
	border: none;
	margin-right:1.4px;
}
.button21{
    width: 40px;
    height: 40px;
	border-radius: 50%;
	position: relative;
    left:-113px;
    top: 227.5px;
	background-color:#ff7300;
	border: none;
	margin-right:1.4px;
}


.button3{
    width: 40px;
    height: 40px;
	border-radius: 50%;
	position: relative;
    left:-21px;
    top: 230px;
	background-color:#f2d12c;
	border: none;
	margin-right:1.4px;
}

.button31{
    width: 40px;
    height: 40px;
	border-radius: 50%;
	position: relative;
    left:-478px;
    top: 272px;
	background-color:#f2d12c;
	border: none;
	margin-right:1.4px;
}

.button4{
    width: 40px;
    height: 40px;
	border-radius: 50%;
	position: relative;
    right:112px;
    top: 275px;
	background-color:#4bde81;
	border: none;
	margin-right:1.3px;
}

.button5{
    width: 40px;
    height: 40px;
	border-radius: 50%;
	position: relative;
    left:-385px;
    top: 321px;
	background-color:#426fcf;
	border: none;
	margin-right:1.3px;
}



.button6{
    width: 40px;
    height: 40px;
	border-radius: 50%;
	position: relative;
    left:-22px;
    top: 323px;
	background-color:#be30e6;
	border: none;
	margin-right:1.3px;
}

.button61{
    width: 40px;
    height: 40px;
	border-radius: 50%;
	position: relative;
    left:-475px;
    top: 366px;
	background-color:#be30e6;
	border: none;
	margin-right:1.3px;
}




.active {
  background: radial-gradient(#8c0000, red);  
}

.inactive {
  background-color: red;
}


.active2 {
  background: radial-gradient(#b55304, #ff7300);  
}

.inactive2 {
  background-color: #ff7300;
}

.active3 {
  background: radial-gradient(#b8ae2e, #f2d12c);  
}

.inactive3 {
  background-color: #f2d12c;
}

.active4 {
  background: radial-gradient(#33a15c, #4bde81);  
}

.inactive4 {
  background-color: #4bde81;
}
.active5 {
  background: radial-gradient(#385ba8, #426fcf);  
}

.inactive5 {
  background-color: #426fcf;
}


.active6 {
  background: radial-gradient(#9b29ba, #be30e6);  
}

.inactive6 {
  background-color: #be30e6;
}





















}
